.content {
  font-size: 0.8rem;
  overflow: hidden;
  max-height: 0px;
  padding-top: .7rem;
  color: #667085;
  /* transition: all 1s cubic-bezier(0, 2, 0, 2); */
  transition: height 1s ease-in;
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: height 1s ease-in;
}

/* TABLE LINES */
.qty-column-wh {
  width: 80px !important;
  /* min-width: fit-content !important; */
}
.rate-column-wh,
.amount-column-wh,
.amount-paid-column-wh {
  width: 120px !important;
  /* min-width: fit-content !important; */
}

.qty-column-wh input {
  max-width: 80px !important;
  min-width: 50px !important;
  min-height: 35px !important;
}
.rate-column-wh input,
.amount-column-wh input,
.amount-paid-column-wh input {
  max-width: 120px !important;
  min-width: 100px !important;
  min-height: 35px !important;
}

.description-column-wh {
  /* max-width: 200 !important; */
}
.description-column-wh textarea {
  width: 100% !important;
  min-width: 200px !important;
  min-height: 35px !important;
}

.item-column-wh {
  width: 280px !important;
}
